h1{
    text-align:center;
}
.profile{
    margin:auto;
}
.aboutdetailscontainer{
     display:flex; 
     flex-direction:column;
    justify-content: center;
    padding:5vh 5vh;
    color:white;
}
.abouttext{
    color:black;
    font-size:2em;
    text-align:center;
    padding-top:5vh; 
    width:60vw;
    margin:auto;
}
.demonstrationcontainer{
    display:flex;
    
}
#abouttitle{
margin-top:17vh;
}
#hobbytitle{
    text-align:center;
    font-weight: 0;
}
#me{
    border-radius:2vw;
    height:50vh;
}
@media screen and (max-width: 768px) {
    /* .aboutdetailscontainer{
        padding:5vh 0;
    } */
    .abouttext{
        font-size: 1em;
        width:80vw;
    }
    
}